* {margin: 0; padding: 0;}
 
 

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
#courses img {
  float: left;
  margin: 0 15px 0 0;
}
 
#courses {
  padding: 10px;
  overflow: auto;
}
 
#courses:hover {
  background: rgb(48, 26, 26);
  cursor: pointer;
  color:white;

}



#appointment {
    padding: 10px;
    overflow: auto;
}
